service cloud.firestore {
  match /databases/{database}/documents {
  	function isSignedIn() {
    	return request.auth.uid != null;
    }

    function isOrganizerOf(rsc) {
    	return isSignedIn() && 
      	(request.auth.uid in rsc.data.organizers);
    }

    function isAttending(rsc) {
    	return isSignedIn() && 
      	(request.auth.uid in rsc.data.attendees);
    }

    match /events/{event} {
      allow read: if isOrganizerOf(resource) || isAttending(resource);
      allow write: if false;
    }
  }
}
