@import './layout';
@import './nav';
@import './typo';
@import './buttons';
@import './forms';

@-ms-viewport {
  width: device-width;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color:inherit;
  text-decoration: none;
}
