.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.justify-start {
  justify-items: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.padding-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

@for $i from 1 through 3 {
  .top-#{$i} {
    margin-top: 1rem * $i;
  }
}

.left-2 {
  margin-left: 2rem;
}

.jimmy-container {
  height: 100vh;
  margin-right: 1rem;
}

.jimmy-header {
  height: 80px;
  border-bottom: 1px solid #eee;

  span.breadcrumb {
    margin-left: 1em;
    margin-right: 1em;
    color: #d6d6d6;
    font-size: 0.7em;
  }

  a {
    border-bottom: 1px solid #d6d6d6;
  }
}

main article {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 32px 15px;

  a {
    color: #4a90e2;
    text-decoration: none;
  }

  .actions {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
}
