table {
  $border-color: #ebeef0;

  th, td {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  border-spacing: 0;
  width: 100%;

  thead {
    $thead-line-height: 3em;
    height: $thead-line-height;
    line-height: $thead-line-height;

    font-weight: 700;
    color: #777;
    text-align: left;
    th {
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
    }
  }

  tbody {
    tr {
      $tbody-line-height: 3em;
      height: $tbody-line-height;
      line-height: $tbody-line-height;

      &:nth-child(2n) {
        background-color: #fafafa;
      }
      &:hover {
        background-color: #fafbfb;
      }

      &:not(:last-child) td {
        border-bottom: 1px solid $border-color;
      }
    }
  }
}
